<div ng-app="app">
    <div ng-controller="ngHomeController">

        <div ng-repeat="a in artist">
            {{a.UserName}}
        </div>

    </div>

    <script src="~/App/Scripts/angular.js"></script>
    <script src="~/App/Scripts/Main.js"></script>
    <script src="~/App/Controller/ArtController.js"></script>
    <script src="~/App/Services/ArtServices.js"></script>
</div>
