@model DavesList.Models.CreateListing
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using(Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Text)
        @Html.TextBoxFor(m => m.Text)
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
}