
@{
    ViewBag.Title = "FrontPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FrontPage</h2>

got the view now i need to add the table to the db and make a new model to hold the front page info including the newest projects



